.header_scrolled {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  padding: 0px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 997;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 40vh;
  margin-left: 40vh;
}

.logo {
  width: 150px;
  height: 100%;
}

.nav-main-container {
  margin: 0px;
  unicode-bidi: isolate;
  height: 100%;
  width: 50%;
}

.ul_nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  touch-action: pan-y;
  list-style-type: none;
}

.nav_li {
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
